@keyframes gradientBG { 
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, red, pink, rgb(90, 204, 242));
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration-line : none;
}

nav {
    padding-right: 30px; /* 添加右側間距，讓導航不會太靠近右邊 */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-animation {
    width: 200px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}
